<div id="main_container">
 <div id="task_form">
    <input id="task_text_input" placeholder="task_text"/>
    <input id="due_date_input" placeholder="due_date"/>
    <button id="add_task_button">Add Task</button>
    <button id="edit_task_button">Edit Task</button>
  </div>
  <div id="list_container">
    <ul id="tasks_list">

    </ul>
  </div>
</div>