<form action="/" method="post">
	<input type="text" name="width" placeholder="
	width" />
	<input type="text" name="height" placeholder="height" />
	<input type="text" name="tag" placeholder="tag" />
	<input type="submit">

</form>