<html>
<head>
  <title></title>
  <style>
  table tr:nth-child(odd) {
    background: lightpink;
  }
    table tr:nth-child(even) {
    background: lightgreen;
  }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>